<!doctype html>
<html lang="{{ page.lang }}">
<head>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap-italia/dist/css/bootstrap-italia.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap-italia/dist/css/fvg.css">
</head>
<body>
  {%- include header/header.html -%}
  <div class="container">
<script type="text/javascript" src="https://www.protezionecivile.fvg.it/widgets/pcrfvgit_alert.js"></script><div class="pcrfvgit_alert_widget" data-istatcode="93022"></div>
    {{ content }}
  </div>
</body>
</html>
